<template>
  <div>
    <v-row >
      <v-col xs="12" md="12">
        <v-layout wrap="wrap" >
          <v-flex v-for="(stat, s) in stats" :key="s" class="mx-2">
            <v-card align="center" link :to="stat.href" v-if="stat.loading" >
              <v-toolbar height="120" :color="stat.background"  >
                <v-icon 
                  x-large 
                  :color="stat.color"
                  >
                  {{ stat.icon }}
                </v-icon>
                <v-spacer vertical="true"></v-spacer>
                <v-toolbar-title>
                  <span class="text-white">{{ stat.number }}</span>
                  <div class="caption font-weight-light text-white">{{ stat.label }}</div>
                </v-toolbar-title>
              </v-toolbar>
              <v-progress-linear
                :color="stat.background"
                value="100"
              ></v-progress-linear>
            </v-card>
          </v-flex>
        </v-layout>
      </v-col>

      <v-col cols="12" md="6" sm="6">
        <v-card class="ml-2 uk-width-1-2" height="300" >
          <v-card-text  v-if="this.bar_chart_is_ready">           
            <vn-pie 
            :model="data"
            :height="250"
             margin= {top:10,right:0,bottom:0,left:0}
             itemscopetext-field="name"
            :donut="true"
           value-field="views"
           :show-tooltip-percent="true"
           :show-legend="true"
            text-field="name"
           :show-labels="false"
           transition-duration="200"></vn-pie>
            
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12" md="6" sm="6">
        <v-card class="mr-2" v-if="this.pie_chart_is_ready">
          <v-card-text>
            <GChart
              type="PieChart"
              loading="true"
              :data="contracts_quick_stats"
              :options="poChartOptions2"
            />
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12" md="6" sm="12">
        <v-card class="ml-2">
          <v-card-text v-if="this.line_chart_is_ready">
            <GChart
              :settings="{ packages: ['line'] }"
              :data="bids"
              :options="bidsOptions"
              :createChart="(el, google) => new google.charts.Line(el)"
              @ready="onChartReady"
            />
          </v-card-text>
        </v-card>
      </v-col>

      <!-- <v-col cols="12" md="6" sm="12">
        <v-card>
          <v-card-text v-if="this.column_chart_is_ready">
            <GChart
              :settings="{ packages: ['bar'] }"
              :data="chartData"
              :options="usersChartOptions"
              :createChart="(el, google) => new google.charts.Bar(el)"
              @ready="onChartReady"
            />
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12" md="6" sm="6">
        <v-card full-height>
          <v-card-text v-if="this.bidders_pie_chart_is_ready">
            <template>
                <GChart
                  type="PieChart"
                  loading="true"
                  :data="bidders_by_percentage"
                  :options="bidsPieChartOptions"
                  class="my-12 mr-2 ml-2"
                />
            </template>
          </v-card-text>
        </v-card>
      </v-col> -->

      <v-col cols="12" md="6" sm="12">
          <v-card class="ml-2" width="1500">
              <v-card-text>
                 <div class="main">
           <div class="calendar-holder">
            <calendar :events="events" />
          </div>
          <div class="form-holder">
            <h3>Schedule an event</h3>
            <event-form />
          </div>
        </div>
              </v-card-text>
          </v-card>
      </v-col>

    </v-row>
  </div>
</template>

<script>

 import AnalyticsService from "../services/analytics.service";
//import Pusher from 'pusher-js';
 import Calendar from '../components/Calendar.vue'
import EventForm from '../components/EventForm.vue'

export default {
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
    loading() {
      return this.$store.state.loading;
    },
    user() {
      return this.$store.state.auth.user;
    },
  },
components:{
Calendar,
EventForm
},
  created() {
    
    if (!this.loggedIn) {
      this.$router.push("/login");
      
    }
    this.getQuickStats();
    this.getPieAnalytics();
    // this.getPublished();
    // this.getAllTenderBidders();
    // this.getAllTenderBiddersByPercentage();
    // this.getTendersCount();
    // this.getAllBiddersByMonth();
    // this.getClosedTendersCount();
    // this.getAllMonthlyUsersByRole();
    // this.getQuotationsCount();
  },

  // mounted() {
  //   this.systemConfig();
  // },

  data() {
    return {
      dialog: false,
      pageReady: false,
      bar_chart_is_ready: true,
      pie_chart_is_ready: true,
      bidders_pie_chart_is_ready: false,
      line_chart_is_ready: false,
      column_chart_is_ready: false,
      events:[{
           title     :  'event1',
            start     : '2018-07-09',
            cssClass  : 'blue',
            YOUR_DATA : {}
      },
      {
            title     : 'event2',
            start     : '2018-07-10',
            end       : '2018-07-13',
            cssClass  : ['orange']
          }
          ], 
      
      
      stats: [
        {
          number: "0",
          label: "Published Tenders",
          loading: true,
          description: "10% since last week",
          color: "error darken-1",
          background:"#c9595f",
          icon: "mdi-file-document-edit",
          href: "",
        },
        {
          number: "0",
          label: "Contract Renewals",
          loading: true,
          description: "15% since last week",
          color: "green",
          background:"#ca9e4f",
          icon: "mdi-account-plus",
          href: "",
        },
        {
          number: "0",
          label: "Contract Drafts",
          loading: true,
          description: "40% of monthly total expected",
          color: "blue",
          background:"#479696",
          icon: "mdi-comment-quote",
          href: "",
        },
        {
          number: "0",
          label: "",
          loading: true,
          description: "5% of total this month",
          color: "grey",
          background:"#8b61a0",
          icon: "mdi-history",
          href: "",
        },
        
      ],
      data:[
         {
    "name": "MOU",
    "views": 1,
    "stay": 100,
    "ratio": 1
  },
  {
    "name": "SUPPLIES",
    "views": 3,
    "stay": 1000,
    "ratio": 0.08
  },

 

      ],
      // Array will be automatically processed with visualization.arrayToDataTable function

      poChartOptions: {
        title: "Purchase Orders",
        is3D: false,
        pieHole: 0.4,
        legend: {
          position: "bottom",
        },
      },
      poChartOptions2: {
        title: "Published Categories",
        subtitle: "Current published tenders categories",
        is3D: false,
        pieHole: 0.4,
        legend: {
          position: "bottom",
        },
      },
      bids: [
        ["Month", "Bids"],
        ["Jan", 0],
        ["Feb", 0],
        ["Mar", 0],
        ["Apr", 0],
        ["May", 0],
        ["Jun", 0],
        ["Jul", 0],
        ["Aug", 0],
        ["Sep", 0],
        ["Oct", 0],
        ["Nov", 0],
        ["Dec", 0],
      ],
      bidsOptions: {
        chart: {
          title: "Received Bids",
          subtitle: "All Received Bids and Applications",
          is3D: false,
          pieHole: 0.4,
        },
      },
      published: [
        ["Month", "Tenders"],
        ["Jan", 0],
        ["Feb", 0],
        ["Mar", 0],
        ["Apr", 0],
        ["May", 0],
        ["Jun", 0],
        ["Jul", 0],
        ["Aug", 0],
        ["Sep", 0],
        ["Oct", 0],

        ["Nov", 0],
        ["Dec", 0],
      ],

    publishedOptions: {
      chart: {
        title: "CURRENT CONTRACTS ACCORDING TO TYPE",
        subtitle: "Current published tenders on marketplace",
        color: "red",
        is3D: true,
        pieHole: 0.4,
      },
    },

      chartData: [
        ["Month", "Users"],
        ["Jan", 0],
        ["Feb", 0],
        ["Mar", 0],
        ["Apr", 0],
        ["May", 0],
        ["Jun", 0],
        ["Jul", 0],
        ["Aug", 0],
        ["Sep", 0],
        ["Oct", 0],
        ["Nov", 0],
        ["Dec", 0],
      ],

      usersChartOptions: {
        chart: {
          title: "System Users",
          subtitle: "Bidders, Administrators, and Companies: 2021",
          color: "#97d1fa",
          is3D: false,
          pieHole: 0.4,
        },
      },

      tenders_by_category: [
        ['Tenders Category', 'Percentage'],
        ['Open Tender', 0],
        ['Prequalification', 0],
        ['Restricted Tender', 0],
        ['Expression of Interest', 0],
        ['Direct Procurement', 0],
        ['Request for Quotation', 0],
        ['Single-stage and two-stage tender', 0],
      ],

      list_of_latest_tenders: [],
      bidders_by_percentage: [
        ['Bids Category', 'Percentage'],
        ['Approved', 0],
        ['Pending', 0],
        ['Rejected', 0],
      ],
      monthly_users_by_role: [],

      suppliersChartData: [
        ['Month', 'COMMISSIONING AND MAINTENANCE CLOUD SERVICES', 'COMMISSIONING AND MAINTENANCE OF DATA CENTRE', 'GOVERNMENT NETWORKS MAINTENANCE', 'LOCAL AREA NETWORKS-TIER 1', 'LOCAL AREA NETWORKS-TIER 2'],
        ['Jan', 1000, 400, 200, 350, 250],
        ['Feb', 1170, 460, 250, 100, 150],
        ['Mar', 660, 1120, 300, 450, 100],
        ['Apr', 1030, 540, 350, 350, 200],
        ['May', 1000, 400, 200, 350, 250],
        ['Jun', 1170, 460, 250, 100, 150],
        ['Jul', 660, 1120, 300, 450, 100],
        ['Aug', 1030, 540, 350, 350, 200],
        ['Sep', 660, 1120, 300, 450, 100],
        ['Oct', 1030, 540, 350, 350, 200],
        ['Nov', 1170, 460, 250, 100, 150],
        ['Dec', 660, 1120, 300, 450, 100],
      ],

      suppliersChartOptions: {
        chart: {
          title: 'Number of Suppliers By Supplier Category',
          subtitle: 'Suppliers: 2021'
        },
        bars: 'horizontal',
        hAxis: { format: 'decimal' },
        height: 1000,
        chartArea: {
            width: '100%',
            height: '100%'
        },
        colors: ['#77ba99', '#ef9e44', '#97d1fa', '#a45f6e', '#d14f57']
      },

      picker: new Date().toISOString().substr(0, 10),

      bidsPieChartData: [
          ['Bids Category', 'Percentage'],
          ['Approved', 0],
          ['Pending', 0],
          ['Rejected', 0],
      ],

      bidsPieChartOptions: {
        title: "Bids Statistics",
        subtitle: "Statistics on Received Bids: 2021",
        is3D: false,
        legend: {
          position: "bottom",
        },
      },

        headers: [
            {
                text: "Tender No",
                align: "start",
                filterable: true,
                value: "tender_no",
            },
            {
                text: "Tender Details",
                value: "title",
            },
            {
                text: "Category",
                value: "category.title",
            },
            {
                text: "Closing Date",
                value: "closing_date",
            },
            {
                text: "Status",
                value: "status",
            },
            {
                text: "Clarifications",
                value: "clarifications_count",
            },
            {
                text: "Bidders Count",
                value: "bidders_count",
            }
        ],

        items: [
          {
            id: 1,
            name: 'Dakota Rice',
            country: 'Niger',
            city: 'Oud-Tunrhout',
            salary: '$35,738',
          },
          {
            id: 2,
            name: 'Minerva Hooper',
            country: 'Curaçao',
            city: 'Sinaai-Waas',
            salary: '$23,738',
          },
          {
            id: 3,
            name: 'Sage Rodriguez',
            country: 'Netherlands',
            city: 'Overland Park',
            salary: '$56,142',
          },
          {
            id: 4,
            name: 'Philip Chanley',
            country: 'Korea, South',
            city: 'Gloucester',
            salary: '$38,735',
          },
          {
            id: 5,
            name: 'Doris Greene',
            country: 'Malawi',
            city: 'Feldkirchen in Kārnten',
            salary: '$63,542',
          },
        ],
    };
  },

  methods: {
    onChartReady() {},
    // systemConfig() {
    //   return ConfigService.index().then(
    //     (response) => {
    //       setTimeout(() => {
    //         if (response.status == 200) {
    //           this.config = response.data.data;
    //           this.dialog = false;
    //           this.pageReady = true;
    //         } else {
    //           console.log(response.data.error);
    //         }
    //       }, 1000);
    //     },
    //     (error) => {
    //       console.log(error);
    //     }
    //   );
    // },

    // getCompanyName(company) {
    //   return company.company_name;
    // },

    // clarificationPreview(item) {
    //   this.$router.push("/clarification/" + item.id);
    // },

    // getAllQuickStats() {
    //   return AnalyticsService.getQuickStats().then(
    //     (response) => {
    //       console.log(response);
    //       if (response.status == 200) {
    //         let obj = response.data.data;
    //         this.tenders_by_category = Object.entries(obj);
    //         console.log(this.tenders_by_category);
    //         this.pie_chart_is_ready = true;
    //       } else {
    //         this.tenders_by_category = [];
    //         console.log(response);
    //       }
    //     },
    //     (error) => {
    //       this.items = [];
    //       console.log(error);
    //     }
    //   );
    // },

    // getPublished() {
    //   return TenderService.getPublished().then(
    //     (response) => {
    //       if (response.status == 200) {
    //         this.published = Object.entries(response.data.data);
    //         this.bar_chart_is_ready = true;
    //       } else {
    //         console.log(response.data.error);
    //       }
    //     },
    //     (error) => {
    //       this.items = [];
    //       console.log(error);
    //     }
    //   );
    // },

    // getAllTenders() {
    //   return TenderService.getAllTenders().then(
    //     (response) => {
    //       if (response.status == 200) {
    //         this.list_of_latest_tenders = response.data.data;
    //         console.log(this.list_of_latest_tenders);
    //       } else {
    //         this.list_of_latest_tenders = [];
    //         console.log(response.data.error);
    //       }
    //     },
    //     (error) => {
    //       this.items = [];
    //       console.log(error);
    //     }
    //   );
    // },

    // tenderPreview(item) {
    //   this.$router.push("/tender-preview/" + item.id);
    // },

    getQuickStats() {
        return AnalyticsService.getQuickStats().then(
        (response) => {
          if (response.status == 200) {
           
            this.stats[0].number = response.data.pe.value;
            this.stats[1].number = response.data.rn.value;
            this.stats[2].number = response.data.pd.value;
            this.stats[3].number = response.data.pa.value;

            this.stats[0].label = response.data.pe.title;
            this.stats[1].label = response.data.rn.title;
            this.stats[2].label = response.data.pd.title;
            this.stats[3].label = response.data.pa.title;
            this.stats[0].href = response.data.pe.href;
            this.stats[1].href = response.data.rn.href;
            this.stats[2].href = response.data.pd.href;
            this.stats[3].href = response.data.pa.href;
           
            console.log("Count: " + response.data.pe.value);
            this.stats[0].loading = true;
          } else {
            this.stats[0].number = 0;
            console.log(response);
          }
        },
        (error) => {
          this.items = [];
          console.log(error);
        }
      );
    },

    getPieAnalytics() {
      return AnalyticsService.getPieAnalytics().then(
        (response) =>{
          if(response.status == 200){
            console.log(response.data)
          }

        }
      )
    }


    // getAllBiddersByMonth() {
    //     return TenderBiddersService.getAllBiddersByMonth().then(
    //     (response) => {
    //       console.log(response);
    //       if (response.status == 200) {
    //         this.bids = Object.entries(response.data.data);
    //         this.line_chart_is_ready = true;
    //         console.log(this.bids);
    //       } else {
    //         console.log(response.data.error);
    //       }
    //     },
    //     (error) => {
    //       this.bids = [];
    //       console.log(error);
    //     }
    //   );
    // },

    // getAllTenderBiddersByPercentage() {
    //     return TenderBiddersService.getAllTenderBiddersByPercentage().then(
    //     (response) => {
    //       console.log(response);
    //       if (response.status == 200) {
    //         let obj = response.data.data;
    //         this.bidders_by_percentage = Object.entries(obj);
    //         console.log(this.bidders_by_percentage);
    //         this.bidders_pie_chart_is_ready = true;
    //       } else {
    //         this.bidders_by_percentage = [];
    //         console.log(response);
    //       }
    //     },
    //     (error) => {
    //       this.items = [];
    //       console.log(error);
    //     }
    //   );
    // },

    // getAllMonthlyUsersByRole() {
    //     return UserService.getAllMonthlyUsersByRole().then(
    //     (response) => {
    //       console.log(response);
    //       if (response.status == 200) {
    //         let obj = response.data.data;
    //         this.chartData = Object.entries(obj);
    //         console.log(response.data.data);
    //         this.column_chart_is_ready = true;
    //       } else {
    //         this.bidders_by_percentage = [];
    //         console.log(response);
    //       }
    //     },
    //     (error) => {
    //       this.items = [];
    //       console.log(error);
    //     }
    //   );
    // }
  },
};
</script>

<style>
    /* #app {
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      color: #2c3e50;
      margin-top: 60px;
    } */
    .main {
      display: flex;
      align-items: center;
    }
    .calendar-holder {
      width: 65%;
    }
    .form-holder {
      width: 35%;
    }
    .form-holder > h3 {
      color: orangered;
      text-transform: uppercase;
      font-size: 16px;
      text-align: left;
      margin-left: 30px;
      margin-bottom: 10px;
    }
    </style>
