<template>
    <v-container
    fill-height
    fluid
    class="lighten-5 text-center"
    style="position: relative"
  >
     <v-row no-gutters>
      <v-col cols="12" sm="12" class="mx-auto">
        <!-- Default Login  -->
        <v-card
          class="mx-auto mt-16 pt-5"
          max-width="412"
          outlined
        >
          <v-row no-gutters>
            <!-- Right band  -->
            <v-col cols="12" order="last" border="none" class="my-n">
              <div>
                <div class="d-flex justify-center">
                  <v-img
                    lazy-src="img/logo-128.png"
                    max-height="178"
                    max-width="178"
                    src="img/logo-128.png"
                  ></v-img>
                </div>
                <div class="mt-3">
                  <!-- <h4 class="grey--text text--darken-2 d-flex justify-center">
                    SIGN IN
                  </h4> -->
                  <span
                    class="d-flex justify-center mx-5 grey--text text--darken-2"
                  >
                    <!-- <caption>
                      Is your company already registered? use your company
                      account to Sign In.
                    </caption> -->
                  </span>
                </div>

                <v-divider class="mt-1 mb-1"></v-divider>
                <v-card-text>
                  <v-form
                    ref="form"
                    v-model="valid"
                    lazy-validation
                    class="mt-5"
                  >
                    <v-text-field
                      dense
                      v-model="user.username"
                      color="grey"
                      append-icon="mdi-account-outline"
                      :rules="nameRules"
                      label="Username"
                      outlined
                      required
                      placeholder=" "
                    ></v-text-field>

                    <v-text-field
                      dense
                      v-model="user.password"
                      color="grey"
                      append-icon="mdi-lock-outline"
                      :rules="passwordRules"
                      :type="'password'"
                      name="input-10-1"
                      label="Password"
                      hint="At least 8 characters"
                      outlined
                      placeholder=" "
                    ></v-text-field>
                    <v-text-field
                      dense
                      v-model="user.company_code"
                      color="grey"
                      append-icon="mdi-briefcase-outline"
                       :rules="[v => !!v || 'Company code is required.']"
                      label="Code"
                      outlined
                      required
                      placeholder=" "
                    ></v-text-field>

                    
                  </v-form>
                </v-card-text>
                <v-divider class="mt-n4"></v-divider>
                <v-card-actions class="mt-3">
                  <v-btn
                    :loading="loading"
                    color="grey"
                    elevation="2"
                    medium
                    width="80"
                    class="ml-3 white--text"
                    @click="handleLogin"
                    >Login</v-btn
                  >
                  <div class="d-flex mt-n1">
                      <v-checkbox
                        v-model="remember"
                        :label="'Remember me'"
                        color="grey"
                        class="ml-1 mt-2 pt-2 pl-5"
                      ></v-checkbox>
                      <a link class="ml-auto mt-2 pt-2 pl-2 text">Forgot Password?</a>
                    </div>
                </v-card-actions>
              </div>
            </v-col>
          </v-row>

          <div
            class="grey white--text d-flex justify-center pa-2 mt-2"
            border="none"
          >
            Contract Lifecycle Management
          </div>
        </v-card>

        <div class="d-flex justify-center mt-5">
          <span class="text-caption grey--text"
            >{{ this.currentYear }} &copy; Software Technologies Limited.</span
          >
        </div>
        <div class="d-flex justify-center">
          <v-img
            lazy-src="img/vendor.png"
            max-height="100"
            max-width="100"
            src="img/vendor.png"
          ></v-img>
        </div>
      </v-col>
    </v-row>
    </v-container>
</template>
<script>
import User from "../models/user";
export default {
  data: () => ({
    user: new User('', '', ''),
    valid: true,
    remember: 0,
    timeouet: 2000,
    passwordRules: [
      (v) => !!v || "Password is required",
      (v) => (v && v.length >= 8) || "Min 8 characters",
    ],
    nameRules: [
      (v) => !!v || "Username is required",
  
      (v) => (v && v.length >= 2) || "Min 2 characters",
    ],

    currentYear: new Date().getFullYear(),
  }),
  name: "Login",
  opts: {
    theme: {
      dark: false,
    },
  },
  components: {},

  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
    loading() {
      return this.$store.state.loading;
    },

  },
  created() {
     localStorage.clear();
  },
  methods: {
    validate() {
      this.$refs.form.validate();
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },

    handleLogin() {
      
      this.$refs.form.validate();
 
      if (this.user.username && this.user.password && this.user.company_code) {
        this.$store.dispatch("setLoading", true);
       
        this.$store.dispatch("auth/login", this.user).then(
          
          (response) => {   
            console.log('here 1');  
            if (response.data.success == 1) {
             
              if (response.data.token != null) {
                 
                setTimeout(() => {
                  this.$store.dispatch("setLoading", false);
                  this.$router.push("/dashboard");
                }, 1500);
              } else {
                setTimeout(() => {
                  this.$store.dispatch("setLoading", false);
                  
            console.log('here 2');  
                    this.$router.push("/login");

                  
                }, 1500);
              }
            }
          },
          (error) => {
            this.$store.dispatch("setLoading", false);
            console.log(error);
          }
        );
      }
    },
  },
};
</script>
