<template>
  <div>
    <v-app-bar
      :value="true"
      app
      clipped-left
      :color="this.$vuetify.theme.dark ? 'black' : 'white'"
      elevation="1"
      class="border-bottom-1"
    >
      <div
        class="d-flex align-center mt-5 mb-5"
        v-if="$vuetify.breakpoint.mdAndUp"
      >
        <v-img
          lazy-src="img/logo-128.png"
          max-width="180"
          src="img/logo-128.png"
          class="mx-4 my-5"
        ></v-img>
      </div>
      <v-app-bar-nav-icon
        class="ml-auto"
        color="grey"
        @click="toggleDrawer(!mini)"
      >
      </v-app-bar-nav-icon>
      <v-spacer> </v-spacer>
      <!-- <span class="ml-200 secondary--text" color="blue-grey">
        <v-img
           lazy-src="img/logo-128.png"
          max-width="100"
          max-height="100"
          src="img/logo-128.png"
          class="mx-auto my-5"
        ></v-img>
      </span> -->
      
      <v-spacer> </v-spacer>
      <v-menu :offset-y="offset" left bottom v-if="$vuetify.breakpoint.mdAndUp">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon
             v-if="notifications.length > 0"
            v-bind="attrs"
            v-on="on"
            color="grey"
            class="mr-5"
          >
            <v-badge color="red" overlap bordered dot>
              <v-icon color="grey">mdi-bell-outline</v-icon>
            </v-badge>
          </v-btn>
        </template>

        <v-card class="mx-auto" max-width="300" max-height="300" scrollable>
          <div class="py-5 px-5">
            <v-icon>mdi-message-text</v-icon>
            Notifications
            <v-divider class="my-2"> </v-divider>
          </div>
          <v-list class="mt-n7">
            <v-list-item-group
              active-class="error--text text--darken-1"
              multiple
            >
              <template v-for="(item, index) in notifications">
                <v-list-item :key="item.title" >
                  <template v-slot:default="{ active }">
                    <v-list-item-content>
                      <v-list-item-title
                        v-text="item.title"
                      ></v-list-item-title>
                      <v-list-item-subtitle
                        class="text--primary"
                        v-text="item.headline"
                      ></v-list-item-subtitle>
                      <p class="my-1 grey--text" caption>
                         {{ item.subtitle }}
                      </p>
                    </v-list-item-content>

                    <v-list-item-action>
                      <v-list-item-action-text
                        v-text="item.action"
                      ></v-list-item-action-text>
                      <v-icon v-if="active" color="grey lighten-1">
                        mdi-check
                      </v-icon>
                      <v-icon v-else color="error darken-1"> mdi-check </v-icon>
                    </v-list-item-action>
                  </template>
                </v-list-item>
                <v-divider
                    v-if="index < items.length - 1"
                  :key="index"
                ></v-divider>
              </template>
            </v-list-item-group>
          </v-list>
        </v-card>
      </v-menu>

      <span class="mt-5 mr-3 text-right">
        <span class="font-weight-medium">Super Admin  </span>
        <p class="text--grey">Administrator, ABC Company</p>
      </span>

      <v-menu :offset-y="offset" left bottom class="mr-10">
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" v-on="on">
            <v-avatar dark v-bind="attrs" v-on="on">
              <img
                src="img/profile.png"
                lazy-src="img/profile.png"
                alt="Profile Image"
                max-width="5"
                max-height="5"
              />
            </v-avatar>
          </v-btn>
        </template>

        <v-list>
          <v-list-item 
          link 
          to="/my-profile">
            <v-icon class="mr-2">mdi-domain</v-icon>
            <v-list-item-title>My Profile</v-list-item-title>
          </v-list-item>
          <v-list-item
           link 
           to="/my-company">
            <v-icon class="mr-2">mdi-domain</v-icon>
            <v-list-item-title>My Company</v-list-item-title>
          </v-list-item>
          <v-list-item link to="/mails-list">
            <v-icon class="mr-2">mdi-domain</v-icon>
            <v-list-item-title>My Inbox</v-list-item-title>
          </v-list-item>
          <v-list-item link to="/complete-profile">
            <v-icon class="mr-2">mdi-domain</v-icon>
            <v-list-item-title>Lock Screen</v-list-item-title>
          </v-list-item>
          <v-list-item @click="handleLogout">
            <v-icon class="mr-2">mdi-logout-variant</v-icon>
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>
  </div>
</template>
<script>

export default {
  name:"AppBar",
  props: ["page"],
  data: () => ({
    offset: true,
    items: [
      {
        title: "My Profile",
        icon: "mdi-account-outline",
        action: "",
      },
      {
        title: "My Company",
        icon: "mdi-briefcase-account-outline",
        action: "",
      },
      {
        title: "My inbox",
        icon: "mdi-email-open-outline",
        action: "",
      },
      {
        title: "Lock Screen",
        icon: "mdi-lock-outline",
        action: "",
      },
    ],
    notifications: [
      {
        action: "15 min",
        headline: "",
        subtitle: `Sale of eboard software contract has been approved`,
        title: "Eboard contract",
      },
    ],
    messages: [
      {
        action: "15 min",
        headline: "",
        subtitle: `Sale of eboard software contract has been approved`,
        title: "Eboard",
      },
    ],
    colors: [
      "pink lighten-5",
      "blue-grey lighten-4",
      "teal lighten-4",
      "cyan lighten-4",
      "red lighten-4",
      "primary",
      "red lighten-3",
      "red accent-1",
      "indigo lighten-3",
      "teal accent-4",
    ],
  }),
  components: {},
   created() {
    const idx = Math.floor(Math.random() * this.colors.length);
    this.selectedColor = this.colors[idx];
  },
  computed: {
    mini() {
      return this.$store.state.mini;
    },
    user() {
      return this.$store.state.auth.user;
    },
      themeMode() {
      return !this.$vuetify.theme.dark ? "Dark Mode" : "Light Mode";
    },
  },

 methods: {
    handleLogout() {
      this.$store.dispatch("auth/logout");
      this.$router.push("/login");
    },
    toggleDrawer(value) {
      this.$store.dispatch("minifyDrawer", value);
    },
    getInitials: function (str) {
      return str
        .split(/\s/)
        .reduce((response, word) => (response += word.slice(0, 1)), "");
    },
  },
  

}
</script>
