<template>
<v-footer padless class="font-weight-medium grey" value="false" app>
    <v-col class="text-left  caption " cols="12">
          <!-- <v-img
          lazy-src="img/logo-128.png"
          max-width="25"
          src="img/logo-128.png"
          class="mx-2 my-1 relative"
        ></v-img> -->
  <strong class="subheading py-2"> <a class="my-auto text-decoration-none text-white" target="_blank" href="https://www.stl-horizon.com"> {{ new Date().getFullYear() }}  &copy; Software Technologies Ltd.</a></strong>
    </v-col>
</v-footer>
</template>