<template>
  <div>
    <!-- large devices  -->
    <v-navigation-drawer
      :mini-variant.sync="mini"
      clipped
      app
      v-model="drawer"
      :permanent="drawer"
      v-if="$vuetify.breakpoint.mdAndUp"
    >
      <v-list class="mt-1">
        <v-list-item class="px-2">
          <v-list-item-avatar>
            <v-icon>mdi-domain</v-icon>
          </v-list-item-avatar>
          <v-list-item-title class="text-wrap mx-auto">
       Software Technologies Limited
          </v-list-item-title>
          <v-btn icon @click.stop="toggleDrawer(!mini)">
            <v-icon>mdi-chevron-left</v-icon>
          </v-btn>
        </v-list-item>
      </v-list>
      <v-divider></v-divider>
      <v-list dense>
        <!-- ADMIN  -->
        <div >
          <div v-for="item in adminMenu" :key="item.title">
            <!-- START list group  -->
            <v-list-group
              v-if="item.child"
              :to="item.route"
              color="error darken-1"
            >
              <template v-slot:activator>
                <v-list-item-icon>
                  <v-btn 
                  :color="item.color" 
                  fab
                  dark
                  small
                    class="my-n2 ml-n2"
                    v-if="mini"
                    >
                    <v-icon color="white">{{ item.icon }}</v-icon>
                  </v-btn>
                  <v-btn :color="item.color" fab dark class="my-auto" v-else>
                       <v-icon color="white" x-large>{{ item.icon }}</v-icon>
                  </v-btn>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title :color="item.color" :class="mini ? 'py-2': 'py-5'" >
                    {{ item.title }}
                  </v-list-item-title>
                </v-list-item-content>
              </template>
              <!-- First child  -->
              <div v-if="item.child">
                <v-list-item
                  v-for="(subItem, i) in item.child"
                  :key="i"
                  link
                  :to="subItem.route"
                >
                  <v-list-item-title
                    :color="subItem.color"
                    v-text="subItem.title"
                    class="ml-15"
                  >
                  </v-list-item-title>
                  <v-list-item-icon>
                    <v-icon v-text="subItem.icon"></v-icon>
                  </v-list-item-icon>
                </v-list-item>
              </div>
            </v-list-group>
            <!-- END list group  -->
            <!-- START menu list item  -->
            <v-list-item
              v-else-if="!item.child"
              link
              :to="item.route"
              :class="mini ? 'py-0': 'py-5'"
              color="error darken-1"
            >
              <v-list-item-icon>
                <v-btn :color="item.color" fab dark  small class="my-n2 ml-n2" v-if="mini">
                  <v-icon color="white">{{ item.icon }}</v-icon>
                </v-btn>
                 <v-btn :color="item.color" fab dark class="my-auto mt-n4" v-else>
                  <v-icon color="white" x-large>{{ item.icon }}</v-icon>
                </v-btn>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title :color="item.color">{{
                  item.title
                }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <!-- END menu list item  -->
          </div>
        </div>
      </v-list>
    </v-navigation-drawer>

    <!-- small devices -->
    <v-navigation-drawer
      :mini-variant.sync="miniMin"
      clipped
      app
      v-model="drawerMin"
      :permanent="drawer"
      v-else
    >
      <v-list class="mt-1">
        <v-list-item class="px-2">
          <v-list-item-avatar>
            <v-icon>mdi-domain</v-icon>
          </v-list-item-avatar>
          <v-list-item-title class="text-wrap mx-auto">Software Technologies Limited
          </v-list-item-title>
          <v-btn icon @click.stop="toggleDrawer(!mini)">
            <v-icon>mdi-chevron-left</v-icon>
          </v-btn>
        </v-list-item>
      </v-list>
      <v-divider></v-divider>
      <v-list dense>
        <!-- ADMIN  -->
        <div >
          <div v-for="item in adminMenu" :key="item.title">
            <!-- START list group  -->
            <v-list-group
              v-if="item.child"
              :to="item.route"
              color="error darken-1"
            >
              <template v-slot:activator>
                <v-list-item-icon>
                  <v-btn small :color="item.color" fab dark class="mt-n2 ml-n2">
                    <v-icon color="white">{{ item.icon }}</v-icon>
                  </v-btn>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title :color="item.color" class="my-auto">
                    {{ item.title }}
                  </v-list-item-title>
                </v-list-item-content>
              </template>
              <!-- First child  -->
              <div v-if="item.child">
                <v-list-item
                  v-for="(subItem, i) in item.child"
                  :key="i"
                  link
                  :to="subItem.route"
                >
                  <v-list-item-title
                    :color="subItem.color"
                    v-text="subItem.title"
                    class="ml-auto"
                  >
                  </v-list-item-title>
                </v-list-item>
              </div>
            </v-list-group>
            <!-- END list group  -->
            <!-- START menu list item  -->
            <v-list-item
              v-else
              link
              :to="item.route"
              class="py-3"
              color="error darken-1"
            >
              <v-list-item-icon>
                <v-btn small :color="item.color" fab dark class="mt-n2 ml-n2">
                  <v-icon color="white">{{ item.icon }}</v-icon>
                </v-btn>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title :color="item.color">{{
                  item.title
                }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <!-- END menu list item  -->
          </div>
        </div>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  data: () => ({
    admins: [
      ["Management", "mdi-account-multiple-outline"],
      ["Settings", "mdi-cog-outline"],
    ],
    cruds: [
      ["Create", "mdi-plus-outline"],
      ["Read", "mdi-file-outline"],
      ["Update", "mdi-update"],
      ["Delete", "mdi-delete"],
    ],

    offset: true,
    adminMenu: [
      {
        title: "Dashboard",
        icon: "mdi-view-dashboard",
        route: "/dashboard",
        color: "#ff00ff",
      },
        {
        title: "Parties",
        icon: "mdi-account-group",
        route: "/customers/list",
        color: "red",
      },
      {
        title: "Contracts",
        icon: "mdi-file-document-edit",
        route: "/",
        color: "error darken-1",
        child: [
          {
            title: "Initiation",
            icon: "mdi-shape-circle-plus",
            route: "/contracts/initiation",
            color: "primary",
          },
          {
            title: "Drafting",
            icon: "mdi-pencil-box",
            route: "/contracts/drafting",
            color: "error",
          },
          {
            title: "Negotiation",
            icon: "mdi-wechat",
            route: "/contracts/negotiation",
            color: "error",
          },
          {
            title: "Approval",
            icon: "mdi-sticker-check-outline",
            route: "/contracts/approval",
            color: "error",
          },
          {
            title: "Publication",
            icon: "mdi-printer-check",
            route: "/contracts/publication",
            color: "error",
          },
          {
            title: "Execution",
            icon: "mdi-play-speed",
            route: "/contracts/execution",
            color: "grey",
          },
          {
            title: "Expiry",
            icon: "mdi-alpha-e-box",
            route: "/contracts/expiry",
            color: "grey",
          },
        ],
      },
      {
        title: "Templates",
        icon: "mdi-file-document-multiple-outline",
        route: "/contracts/templates",
        color: "#00cccc",
      },
      {
        title: "Messaging",
        icon: "mdi-forum",
        route: "/messaging",
        color: "#006600",
        child: [
          {
            title: "Mail Box",
            icon: "mdi-card-account-mail-outline",
            route: "/messaging/mails-list",
            color: "primary",
          },
          {
            title: "Phone Sms",
            icon: "mdi-cellphone-message",
            route: "/messaging/sms-list",
            color: "primary",
          },
          {
            title: "Notifications",
            icon: "mdi-bell-plus-outline",
            route: "/messaging/notifications-list",
            color: "primary",
          },
        ],
      },
            {
        title: "Workflows",
        icon: "mdi-google-circles",
        route: "/process/list",
        color: "#cc6699",
      },
            {
        title: "Case Logs",
        icon: "mdi-briefcase-variant",
        route: "/cases/logs",
        color: "#00e6e6",
      },
    ],
  }),
  methods: {
    onChartReady(){

    },
    toggleDrawer(value) {
      this.$store.dispatch("minifyDrawer", value);
    },
        handleLogout() {
      this.$store.dispatch("auth/logout");
      this.$router.push("/login");
    },
  },
    created() {
    // if (!this.user) {
    //   // this.handleLogout();
    // }
  },
  computed: {
    isAdmin() {
      return this.$store.state.auth.user.is_admin;
    },
    user() {
      return this.$store.state.auth.user;
    },
    drawer: {
      get() {
        return this.$store.state.drawer;
      },
      set() {
        this.$store.dispatch("minifyDrawer", !this.drawer);
      },
    },
    drawerMin: {
      get() {
        return this.$store.state.drawer;
      },
      set() {
        this.$store.dispatch("minifyDrawer", !this.drawer);
      },
    },
    mini: {
      get() {
        return this.$store.state.mini;
      },
      set() {
        this.$store.dispatch("minifyDrawer", !this.mini);
      },
    },
    miniMin: {
      get() {
        return !this.$store.state.mini;
      },
      set() {
        !this.$store.dispatch("minifyDrawer", !this.mini);
      },
    },
  },
};
</script>
